p {
  font-family: Lato;
}
input.demo{
  border:2px solid rgb(8, 8, 8);
  width:300px;
  height: 25px;
  font-size: 25px;

}
.top-menu {
    background: #1976d2;
    padding: 2px 15px;
}

.logo {
  max-height: 55px;
}


.courses {
    max-width: 400px;
    margin: 50px auto;
}